* { margin: 0; padding: 0; 
}

html, body {
  height: 100%;
}

#clock {
  text-align: right;
  position: relative;
  top: 75%;
  right: 15%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 68px;
  margin-top: -34px;
}

@media (max-width: 768px) {

	#clock {
			font-size: 48px;
		}

}
